In [2]:
import pandas as pd
import re

In [3]:
df =pd.read_csv("../data/original_hot_100.csv")

In [4]:
df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,2021-11-06,1,Easy On Me,Adele,1.0,1,3
1,2021-11-06,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,2021-11-06,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,2021-11-06,4,Fancy Like,Walker Hayes,4.0,3,19
4,2021-11-06,5,Bad Habits,Ed Sheeran,5.0,2,18

In [48]:
df.shape

(330087, 7)

In [49]:
song_artist_Only = df[["song","artist"]]

In [50]:
song_artist_Only.head(1)

         song artist
0  Easy On Me  Adele

In [51]:
song_artist_Only.shape

(330087, 2)

In [52]:
song_artist_Only["is_duplicate"] = song_artist_Only.duplicated(subset=["song","artist"])

D:\Users\Alfaisal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
song_artist_Only.head()

            song                         artist  is_duplicate
0     Easy On Me                          Adele         False
1           Stay  The Kid LAROI & Justin Bieber         False
2  Industry Baby        Lil Nas X & Jack Harlow         False
3     Fancy Like                   Walker Hayes         False
4     Bad Habits                     Ed Sheeran         False

In [54]:
unique_songs_only = song_artist_Only[song_artist_Only["is_duplicate"] == False].reset_index()

In [55]:
unique_songs_only.drop(columns=["is_duplicate"], inplace=True)

In [66]:
unique_songs_only.rename(columns={"index" : "original_index"}, inplace=True)

In [67]:
unique_songs_only.head()

,original_index,song,artist,primary_artist,featured_artist_1,featured_artist_2
0,0,Easy On Me,Adele,Adele,None,None
1,1,Stay,The Kid LAROI & Justin Bieber,The Kid LAROI,Justin Bieber,None
2,2,Industry Baby,Lil Nas X & Jack Harlow,Lil Nas X,Jack Harlow,None
3,3,Fancy Like,Walker Hayes,Walker Hayes,None,None
4,4,Bad Habits,Ed Sheeran,Ed Sheeran,None,None

In [68]:
def artists_split(artists):
    result = [x.strip() for x in re.split(r'&|Featuring',artists)]
    return result

In [69]:
artists_separated = unique_songs_only["artist"].apply(artists_split)

In [70]:
unique_songs_only["primary_artist"] = None
unique_songs_only["featured_artist_1"] = None
unique_songs_only["featured_artist_2"] = None

In [71]:
for x in range(len(artists_separated)):
        unique_songs_only["primary_artist"][x] = artists_separated[x][0]
        if len(artists_separated[x]) > 1:
            unique_songs_only["featured_artist_1"][x] = artists_separated[x][1]
        if len(artists_separated[x]) > 2:
            unique_songs_only["featured_artist_2"][x] = artists_separated[x][2]

D:\Users\Alfaisal\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\Users\Alfaisal\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
D:\Users\Alfaisal\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [72]:
unique_songs_only

,original_index,song,artist,primary_artist,featured_artist_1,featured_artist_2
0,0,Easy On Me,Adele,Adele,None,None
1,1,Stay,The Kid LAROI & Justin Bieber,The Kid LAROI,Justin Bieber,None
2,2,Industry Baby,Lil Nas X & Jack Harlow,Lil Nas X,Jack Harlow,None
3,3,Fancy Like,Walker Hayes,Walker Hayes,None,None
4,4,Bad Habits,Ed Sheeran,Ed Sheeran,None,None
...,...,...,...,...,...,...
29676,330076,Stay,The Ames Brothers,The Ames Brothers,None,None
29677,330082,Over And Over,Thurston Harris,Thurston Harris,None,None
29678,330084,Little Serenade,The Ames Brothers,The Ames Brothers,None,None
29679,330085,I'll Get By (As Long As I Have You),Billy Williams,Billy Williams,None,None
29680,330086,Judy,Frankie Vaughan,Frankie Vaughan,None,None

In [73]:
unique_songs_only.to_csv("../data/unique_songs.csv")