In [32]:
import pandas as pd
import re

In [4]:
df =pd.read_csv("../data/original_hot_100.csv")

In [5]:
df.head(1)

         date  rank        song artist  last-week  peak-rank  weeks-on-board
0  2021-11-06     1  Easy On Me  Adele        1.0          1               3

In [6]:
df.shape

(330087, 7)

In [7]:
song_artist_Only = df[["song","artist"]]

In [8]:
song_artist_Only.head(1)

         song artist
0  Easy On Me  Adele

In [9]:
song_artist_Only.shape

(330087, 2)

In [10]:
song_artist_Only["is_duplicate"] = song_artist_Only.duplicated(subset=["song","artist"])

D:\Users\Alfaisal\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
song_artist_Only.head()

            song                         artist  is_duplicate
0     Easy On Me                          Adele         False
1           Stay  The Kid LAROI & Justin Bieber         False
2  Industry Baby        Lil Nas X & Jack Harlow         False
3     Fancy Like                   Walker Hayes         False
4     Bad Habits                     Ed Sheeran         False

In [12]:
unique_songs_only = song_artist_Only[song_artist_Only["is_duplicate"] == False].reset_index()

In [13]:
unique_songs_only.drop(columns=["index","is_duplicate"], inplace=True)

In [14]:
unique_songs_only

                                      song                         artist
0                               Easy On Me                          Adele
1                                     Stay  The Kid LAROI & Justin Bieber
2                            Industry Baby        Lil Nas X & Jack Harlow
3                               Fancy Like                   Walker Hayes
4                               Bad Habits                     Ed Sheeran
...                                    ...                            ...
29676                                 Stay              The Ames Brothers
29677                        Over And Over                Thurston Harris
29678                      Little Serenade              The Ames Brothers
29679  I'll Get By (As Long As I Have You)                 Billy Williams
29680                                 Judy                Frankie Vaughan

[29681 rows x 2 columns]

In [33]:
def artists_split(artists):
    result = [x.strip() for x in re.split(r'&|Featuring',artists)]
    return result

In [34]:
artists_separated = unique_songs_only["artist"].apply(artists_split)

In [39]:
unique_songs_only["primary_artist"] = None
unique_songs_only["featured_artist_1"] = None
unique_songs_only["featured_artist_2"] = None

In [40]:
for x in range(len(artists_separated)):
        unique_songs_only["primary_artist"][x] = artists_separated[x][0]
        if len(artists_separated[x]) > 1:
            unique_songs_only["featured_artist_1"][x] = artists_separated[x][1]
        if len(artists_separated[x]) > 2:
            unique_songs_only["featured_artist_2"][x] = artists_separated[x][2]

In [43]:
unique_songs_only

,song,artist,primary_artist,featured_artist_1,featured_artist_2
0,Easy On Me,Adele,Adele,None,None
1,Stay,The Kid LAROI & Justin Bieber,The Kid LAROI,Justin Bieber,None
2,Industry Baby,Lil Nas X & Jack Harlow,Lil Nas X,Jack Harlow,None
3,Fancy Like,Walker Hayes,Walker Hayes,None,None
4,Bad Habits,Ed Sheeran,Ed Sheeran,None,None
...,...,...,...,...,...
29676,Stay,The Ames Brothers,The Ames Brothers,None,None
29677,Over And Over,Thurston Harris,Thurston Harris,None,None
29678,Little Serenade,The Ames Brothers,The Ames Brothers,None,None
29679,I'll Get By (As Long As I Have You),Billy Williams,Billy Williams,None,None
29680,Judy,Frankie Vaughan,Frankie Vaughan,None,None

In [44]:
unique_songs_only.to_csv("../data/unique_songs.csv")